body {
	font-family: 'Courier New', Courier, monospace;
	padding: 0 1rem;
	background-color: #333;
}

h1 {
	font-size: 3rem;
	color: #aaa;
}

#loading {
	font-size: 9rem;
	color: #ccc;
}

#colorList {
	display: flex;
	flex-flow: row wrap;
	padding: 0;
}

#colorList .color {
	position: relative;
	list-style: none;
	border-radius: 5px;
	line-height: 10rem;
	text-align: center;
	font-size: 2rem;
	font-weight: bold;
	flex-basis: 25%;
	margin: 0 20px 20px 0;
}

#colorList .deleteIcon:hover {
	font-size: 1.4rem;
	color: red;
}

#colorList .deleteIcon {
	position: absolute;
	top: 125px;
	right: 0.5rem;
	width: 1.5rem;
	height: 1.5rem;
	padding: 0;
	font-size: 1rem;
	line-height: 1.5rem;
	color: darkred;
	cursor: pointer;
}



#color-form {
	display: none;
	margin-bottom: 2rem;
}

#color-form input {
	font-size: 2rem;
	text-align: right;
	width: 50px;
	border-radius: 5px;
}

#color-form #btn-random {
	margin-left: 5px;
}

button {
	font-size: 2rem;
	padding: 0 15px;
}

.secondRow {
	margin-top: 12px;
}

.plusMinusButton {
	border: none;
}

.buttonRed {
	background-color: red;
}
.buttonGreen {
	background-color: green;
}
.buttonYellow {
	background-color: yellow;
}

section.colorButtonArea {
	display: inline-block;
}

section.colorButtonArea button {
	cursor: pointer;
}